footer {
	color: $white;
	path {
		fill: $white;
	}
	a {
		color: $white;
    &:hover {
      opacity: .7;
    }
	}
	ul {
		@include display(flex);
		@include flex-direction(row);
	}
}

#footer-social {
	margin: 75px 0px;
	@include justify-content(center);
	li {
		padding: 0px 20px;
	}
}

#footer-bottom {
	padding: 35px 0px 50px;
	border-top: 1px solid $white;
	position: relative;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

#footer-links {
	float: left;
	display: none;
	@include justify-content(flex-start);
	li {
		padding-left: 25px;
	}
}

#footer-info {
	// float: right;
	text-align:center;
	svg {
		width: 25px;
		height: 28px;
	}
	span {
		display: inline-block;
		vertical-align: middle;
		padding: 0px 2px;
	}
}

#made-in-ny {
	position: absolute;
	display:none;
	left: 50%;
	@include transform(translateX(-50%));
}