header {
	width: 100%;
  background-color: rgba($black,0.06);

  #header-logo {
    text-align: center;
    padding: 15px 0 5px 0;

    svg {
      height: 50px;
    }


    @include media($mobile) {
      & {
        padding-top: 8px;
        svg {
          height: 40px;
        }
      }
    }
  }
}