$image-width: 3.375em;
$image-height: 6.00em;
$image-box-sides: .55em;

.activity-name {
  position: absolute;
  z-index: 20;
  background-color: black;
  color: white;
  padding: 3px 10px;
  display: none;
  height: 30px;
  &:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000000;
    border-width: 5px;
    margin-top: -5px;
  }
}

#marx {
  // #marx-container {
  // 	position: relative;
  //   min-height: $image-height + .5em;
  //   max-width: 750px;
  //   margin: .15em auto 0 auto;
  //   font-size: 10rem; // used for sizing of em units :)
  // }

  #marx-container {
    position:relative;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .drop-shadow {
    position: relative;

    &:after {
      content:'';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: $image-box-sides;
      background: transparent;
      border-radius: 100px/50px;
      box-shadow: 0 40px 60px rgba($black,0.18);
    }
  }

	#marx-image {
		width: auto;
		// position: absolute;
    top: .25em;
    z-index: 2;
    @include perspective(800px);
    @include perspective-origin(50% 100px);
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    #marx-image-box {
      position: relative;
    	width: $image-width;
      height: $image-height;
      margin-left: 100px;
      font-size: 10rem; // used for sizing of em units :)
      opacity: 0.1;
    	@include transform-style(preserve-3d);
      @include transform-origin(top center);
      @include transform(rotateY(0));
      @include transition(opacity .6s .2s ease-out, -webkit-transform 2s ease-in-out, -moz-transform 2s ease-in-out, -ms-transform 2s ease-in-out, transform 2s ease-in-out);

      div {
        background-color: rgba($black,0.5);
        @include transition(background-color .2s ease-out);
      }

      &.has-loaded {
        opacity: 1;
        @include transform(rotateY(25deg));

        div {
          background-color: rgba($black,0.8);
        }
      }

      div {
        position: absolute;
        @include transition(background-color .2s ease-in-out);
      }

      .box3d-back {
        @include transform( translate3d(0, 0, -$image-box-sides/2) );
        width: $image-width;
        height: $image-height;
      }
      .box3d-right {
        @include transform( rotateY(-270deg) translate3d($image-box-sides/2, 0, -$image-box-sides) );
        @include transform-origin(top right);
        width: $image-box-sides;
        height: $image-height;
      }
      .box3d-left {
        @include transform( rotateY(270deg) translate3d(-$image-box-sides/2, 0, -$image-width) );
        @include transform-origin(center left);
        width: $image-box-sides;
        height: $image-height;
      }
      .box3d-top {
        @include transform( rotateX(-90deg) translate3d(0, -$image-box-sides/2, 0) );
        @include transform-origin(top center);
        width: $image-width;
        height: $image-box-sides;
      }
      .box3d-bottom {
        @include transform( rotateX(90deg) translate3d(0, $image-box-sides/2, -$image-height + $image-box-sides) );
        @include transform-origin(bottom center);
        width: $image-width;
        height: $image-box-sides;
      }
      .box3d-front {
        @include transform( translate3d(0, 0, $image-box-sides/2) );
        @include transform-origin(top center);
        width: $image-width;
        height: $image-height;
        &.drop-shadow {
          &:after {
            max-width: $image-width;
          }
        }
      }

  		#marx-image-bg {
        // These are intentionally inversed since we are rotating the image
        height: $image-width;
        width: $image-height;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @include transform(rotate(-90deg) translate3d(.375em,.375em,0)); // idk?
        @include transform-origin(bottom center);
  		}
    }
	}

  #marx-gif-embed {
    width: 100%;
    height: 100%;
    padding: 100% 0 0 0;

    #marx-gif-embed-box {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #3a8bac;
    }
  }
  
  #marx-info {
    // padding: 1em 0 1em ($image-width + 0.45em);
    width: 45%;
    float: right;
    position: absolute;
    right: 0px;
    top: 50%;
    @include transform(translateY(-50%));
    h1 {
      color: white;
    }
    h2 {
    	margin-top: 50px;
    }

    #marx-activity {
    	color: white;
    	margin-top: 20px;
      font-size: 1.0rem;

      p {
        margin: 0;
        padding: 0 0 15px 0;
        font-size: 2.0rem;
        line-height: 1.33em;
        font-family: "Montserrat", sans-serif;
      }
      & > div {
        position: relative;
      }
      .item-location, .item-last-at {
        font-size: 1.4rem;
      }
    }

    iframe {
    	border: none;
      width: 100%;
      height: 235px;
      margin: 15px 0;
    }
  }

  &.marx-not-found {
    #marx-container {
      padding-top: 1em;
      font-size: 5rem;
    }

    #marx-image {
      top: 1em;

      #marx-image-box {
        font-size: 5rem;

        div {
          background-color: rgba(lighten($black,30),0.5);
        }
      }
    }

    h1 {
      text-align: center;
      color: $white;
      font-size: 3.2rem;
    }

    #marx-signup {
      margin-top: 60px;
    }
  }

  &.has-marker, &.has-gif, &.marx-not-found {
    #marx-image, #marx-signup {
      display: block;
    }
  }

}


#marx-signup {
	text-align: center;
	margin: 20px 0;

	h4 {
		font-family: "Montserrat", sans-serif;
		color: white;
		font-size: 1.6rem;
    padding: 0 0 12px 0;
    margin: 0;
	}

  p {
    margin: 0;
    padding: 0;
    font-size: 1.0rem;

  	a.button {
      display: inline-block;
  		background-color: $cobalt;
  		padding: 14px 48px;
  		border: none;
  		color: white;
  		font-family: "Montserrat", sans-serif;
  		font-size: 2.0rem;
  		border-radius: 30px;
  		cursor: pointer;
      text-transform: lowercase;

      &:hover {
        background-color: rgba($cobalt,.64);
      }
  	}
  }
}

@include media($tablet) {
  #marx{
    #marx-image {
      canvas {
        margin: 0px auto;
        display: block;  
      }
      
    }
    #marx-info {
      width: 100%;
      float: none;
      position: static;
      @include transform(translateY(0%));
    }  
  }
}

//RESPONSIVE
@include media($mobile) {
	#marx {
    #marx-container {
      min-height: auto;
  		margin: 0 0 2rem 0;
      padding: 0 0 2rem 0;
      border-bottom: 1px solid rgba($white,0.64);
    }

		#marx-image {
	    position: static;
      font-size: 6.67rem; // used for sizing of em units :)
      margin-top: -10px;
      #marx-image-box {
        font-size: 6.67rem; // used for sizing of em units :)
      }
		}

    #marx-info {
      padding: 0;// 0 0 ($image-width + .25em);
      margin-top: -10px;
    	iframe {
    		display: none;	
    	}

    	#marx-activity {
    		margin-top: ($image-width/1.25)/2.7;
        overflow-x: hidden;
    	}
    }

    &.has-gif {
      #marx-container {
        padding-bottom: 3rem;
      }

      #marx-image {
        margin-bottom: 2rem;
        @include calc(padding-top, "100% + #{2 * $gutter}");

        #marx-image-box {
          position: absolute;
          bottom: -8rem;
          left: 0;
          font-size: 2.0rem; // used for sizing of em units :)
          z-index: 15;
        }
        #marx-gif-embed {
          position: absolute;
          top: 0;
          bottom: 0;
          padding: 0;
          background-color: rgba($black,0.95);

          #marx-gif-embed-box {
            left: -$gutter;
            right: -$gutter;
          }

          video {
            width: 100%;
            height: 100%;
          }
        }
      }

      #marx-info {
        padding-left: $image-width + 1.25em;
        font-size: 2.0rem;

        #marx-activity {
          text-align: left;
        }
      }
    }

    &.marx-not-found {
      #marx-container {
        padding-top: .5em;
        font-size: 4rem;
      }

      #marx-image {
        font-size: 4rem;
        top: 0.5em;
        height: 7.5em;

        #marx-image-box {
          font-size: 4rem;
        }
      }
    }
  }

	#marx-signup {
    margin-top: 35px;

		p a.button {
			font-size: 1.6rem;
		}
	}
}
