#sessions-container {
	padding-left: 30px;
}
#sessions-list {
	> li {
		border: 2px dashed $blue;
		padding:10px;
		margin: 10px 0px;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
	}
	.current {
		border-width: 2px;
		border-style: solid;
		background-color: $red;
		color: white;
		border-top: $red;
    border-right: $red;
    border-left: $red;
    border-bottom: $red;
	}
}
.focusing {
	#sessions-list {
		> li {
			border-color: $red;
		}
	}
}
.session {

	h5 {
		margin-bottom: 0px;
	}
}

.session-header {
	@extend .left-right;
	@include align-items(center);
	@include justify-content(center);
}

.session-todos {
	margin-top: 15px;
}