#sessions-container {
	padding-left: 15px;
}
#sessions-list {
	
	> li {
		border: 1px solid $blue;
		padding:10px;
		margin: 10px 0px;
	}
	.current {
		border-width: 2px;
	}
}
.focusing {
	#sessions-list {
		> li {
			border-color: $red;
		}
	}
}