#todos-container {
	padding-right: 15px;	
}
#todos {
	margin-top: 20px;
}
.todo {
	margin: 5px 0px;
	.todo-content {
		&:hover {
			border: 1px solid yellow;
		}
	}
	&.working {
		background-color: yellow;
		.todo-content {
			&:hover {
				text-decoration: line-through;
			}
		}
	}
	&.completed {
		text-decoration: line-through;
		font-weight: bold;
		background-color: none;	
		color:black;
		.todo-content {
			&:hover {
				background-color: transparent;
				border: none;
			}
		}
	}
	.todo-container {
		@include display(flex);
		button {
			margin-left: 10px;
			display: none;
			cursor: pointer;
		}
		&:hover {
			button {
				display: block;
			}
		}
	}
	.todo-content {
		cursor: pointer;
	}
}