#todos-container {
  padding-right: 30px;
}
.todos {
  margin-top: 30px;
}

// DRAGULA
/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
// end DRAGULA

.todo {
  margin: 2px 0;
  padding: 5px 0px;
  .todo-content {
    &:hover {
      background-color: rgba($blue, 0.6);
    }
  }
  &.working {
    font-weight: bold;
    background-color: rgba($blue, 0.3);
    .todo-content {
      &:hover {
        background-color: rgba($blue, 0.3);
        text-decoration: line-through;
      }
    }
  }
  &.completed {
    background-color: none;
    color: rgba($blue, 0.5);
    .todo-content {
      text-decoration: line-through;
      &:hover {
        background-color: transparent;
        border: none;
      }
    }
    .todo-icon {
      &:hover {
        color: $blue;
      }
    }
  }
  button {
    margin-left: 10px;
  }
  .todo-icon {
    margin-left: 7px;
    font-size: 20px;
    cursor: pointer;
  }
  .todo-content {
    cursor: pointer;
  }
}

.smaller-icon {
  .material-icons {
    font-size: 20px;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed;
      color: rgba($red, 0.3);
    }
  }
}
.focusing {
  .todo {
    .todo-content {
      width: 50%;
      &:hover {
        background-color: rgba($red, 0.6);
      }
    }
    &.working {
      background-color: rgba($red, 0.3);
      .todo-content {
        &:hover {
          background-color: rgba($red, 0.3);
        }
      }
    }
    &.completed {
      color: rgba($red, 0.3);
      .todo-icon {
        &:hover {
          color: $red;
        }
      }
    }
  }
}

.todo-container {
  display: flex;
  align-items: center;
}

.todo-controls {
  width: 100%;
}

.todo-actions {
  @include display(flex);
  @include justify-content(flex-end);
  width: 50%;
}

.todo-grip {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  font-size: 12px;
  padding-right: 10px;
  opacity: 0.4;
}

.todo-grip:hover {
  opacity: 1;
}

.todo-grip.no-grip {
  cursor: default;
  opacity: 0;
}
