.profile-wrapper {
  opacity: 0;
  z-index: 1;
  @include transition(all 0.2s ease-in-out);
  pointer-events: none;
  position: fixed;
  background-color: rgba(white, 0.8);
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  &.display {
    display: flex;
    opacity: 1;
    pointer-events: auto;
  }
}
.profile {
  padding: 30px;
}

#hide-sites {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 25px;
}

.website-list {
  @include columns(4);
  @include column-gap(50px);
}

.website-item {
  display: inline-block;
  width: 100%;
}

.website-item-container {
  margin-bottom: 10px;
  @include display(flex);
  @include justify-content(space-between);
  width: 100%;
  .left {
    @include display(flex);
  }
  img {
    width: 25px;
    height: 25px;
    border-radius: 3px;
  }
  img, span {
    margin-right: 15px;
  }
  .icon-bin {
    cursor: pointer;
    margin-top: 3px;
    &.disabled {
      cursor: not-allowed;
      color: rgba($red, 0.3);
    }
  }
}

.website-intro-list {
  @include columns(3);
  @include column-gap(50px);
  @include column-rule(solid $blue 1px);
  > li {
    padding: 5px 0px;
    display: inline-block;
    width: 100%;
    &.blocked {
      background-color: rgba($blue, 0.3);
    }
  }
}

.night-mode-toggle {
  font-size: 18px;
  cursor: pointer;
  text-align: right;
}
