#website-list-wrapper {
	@include transition(all 0.2s ease-in-out);
	display: none;
	position: fixed;
	background-color: rgba(white, 0.98);
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	@extend .center;
	opacity: 0;
	&.display {
		display: flex;
		opacity: 1;
	}
}
#hide-sites {
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 31px;
}
#website-list {

}
.website-item {
	margin-bottom: 10px;
	@include display(flex);
	img {
		width: 25px;
		height: 25px;
		border-radius: 3px;
	}
	img, span {
		margin-right: 5px;
	}
}