#{$all-buttons} {
  border-width: 2px;
  border-style: solid;
  border-color: $blue;
  background-color: transparent;
  white-space: nowrap;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: $blue;
  letter-spacing: 0.07em;
  font-size: 1.4rem;
  &.button-small {
    font-size: 10px;
    padding: 4px 8px;
  }
  &.button-regular {
    font-size: 1.4rem;
    padding: 8px 16px;
    margin-top: 20px;
  }
  &.popup {
    padding: 15px 0px;
    width: 100%;
    border-width: 4px;
  }
  &:hover {
    color: white;
    background-color: $blue;
  }
}
.focusing {
  #{$all-buttons} {
    border-color: $red;
    color: $red;
    &:hover {
      color: white;
      background-color: $red;
    }
  }
}