input,
label,
select {
  display: block;
  // font-family: $base-font-family;
  // font-size: $base-font-size;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

.focusing {
  #{$all-text-inputs},
  select[multiple=multiple] {
    border-color: $red;
    color: $red;
    @include placeholder {
      color: rgba($red, 0.75);
    }
  }
}
#{$all-text-inputs},
select[multiple=multiple] {
  border: none;
  border-bottom: 2px solid $blue;

  box-sizing: border-box;
  background-color: transparent;
  color: $blue;
  font-size: 14px;
  // font-family: $base-font-family;
  // font-size: $base-font-size;
  // margin-bottom: $small-spacing;
  padding: 5px;
  // transition: border-color $base-duration $base-timing;
  width: 100%;
  letter-spacing: 0.07em;
  font-family: 'Poppins', sans-serif;
  @include placeholder {
    color: rgba($blue, 0.75);
    letter-spacing: 0.07em;
    font-family: 'Poppins', sans-serif;
  }
  &:hover {
    // border-color: shade($base-border-color, 20%);
  }

  &:focus {
    // border-color: $action-color;
    // box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    // background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      // border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  // margin-right: $small-spacing / 2;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  // margin-bottom: $small-spacing;
  width: 100%;
}

select {
  // margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

.form-group {
  &.error {
    #{$all-text-inputs} {
      border: 2px solid $red;
    }
  }
  .validation-error {
    margin-top: 5px;
    color: $red;
  }
}
